# Application configuration
PROJECT_NAME="House Hunt"
HOST=0.0.0.0
PORT=8386
WORKERS=4

# DynamoDB
AWS_REGION_NAME=local
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
DYNAMODB_HOST=localhost
DYNAMODB_PORT=8000
DYNAMODB_ENDPOINT_URL=http://${DYNAMODB_HOST}:${DYNAMODB_PORT}

# KEYS
OPENAI_API_KEY="" # Add your OpenAI API key here
FIRECRAWL_API_KEY="fc-b948ac7284774824bd7e1ee118368db9"
ENVIRONMENT=LOCAL
